name: Deploy Static VitePress Blog

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ 检出仓库
      - name: Checkout repository
        uses: actions/checkout@v3

      # 3️⃣ 上传 dist 内容到服务器目录（使用 rsync）
      - name: Deploy to server via rsync
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            rsync -avz --exclude='.user.ini' --delete docs/.vitepress/dist/ /www/wwwroot/blog.astraluster.top/
