name: Deploy VitePress Blog

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Build VitePress site
        run: |
          npm install
          npm run docs:build

      - name: Deploy to server via rsync
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            rsync -avz --exclude='.user.ini' --delete ./docs/.vitepress/dist/ /www/wwwroot/blog.astraluster.top/
